@media screen and (max-width: 540px){
  .full-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  #btn {
    background-color: teal;
    width: 100%;
  }
}