body{
  margin: auto;
}

.main-container{
  margin: auto;
  max-width: 350px;
}

.card{
  margin-bottom: 5px;
}




@media screen and (max-width: 540px) {
  body {
    margin: auto;
  }

  .main-container{
    margin: auto;
    max-width: 350px; 
  }
  .card{
    width: 100%;
  }

  
  

}