body{
  margin: 0;
  
}

@media screen and (max-width: 540px) {
    body {
      margin: 0;
      padding: 0;
      font-family: 'roboto', sans-serif;
      background-color: #F2F2F2;
  }

  h1 {
      text-align: center;
      color: #333333;
  }

  .cards-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card{
    width: 350px;
  }

}