body{
  display: flex;
  justify-content: center;
}

#commentbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}
.comment{
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: none;
  margin: auto;
  padding: 10px;
}

#comment-submit{
  margin-top: -5px;
  margin-left: 5px;
  border: none;
  /* background-color: rgb(3, 167, 167); */
  color: white;
  
}

#comment-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.comment-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

}

.single-com{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.all-com{
  margin-bottom: 25px;
}

.sub{
  margin-left: 25%;
  margin-top: 10px;
  
}

.x{
  background-color: red;
  color: white;
  border: none;
  font-size: 8px;
  font-weight: 700;
}

.x:hover{
  background-color: black;
}