body{
  display: flex;
  justify-content: center;
}

#commentbox{
  display: flex;
  justify-content: center;
}
.comment{
  border-radius: 25px;
  border: none;
}

#comment-submit{
  margin-top: -5px;
  margin-left: 5px;
  border: none;
  background-color: rgb(3, 167, 167);
  color: white;
}

#comment-card{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.comment-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.comment-list{
  margin-bottom: 50px;
}

.all-com{
  margin-bottom: 25px;
}