.edit-delete{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: -40px;
  margin-right: 20px;
}

.btn{
  height: 25px;
  width: 75px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  color: white;
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.layout{
  margin-bottom: 50px;
}