.edit-delete{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: -40px;
  margin-right: 20px;
}

.btn{
  color: white;
  height: 50px;
  width: 100px
}