

@media screen and (max-width: 540px) {
  .the-nav{
    display: none;
  }

  .mobile{
    margin:auto;
    width: 35px;
    position: fixed;
    left: 0;
    color: rgb(12, 12, 12);
    text-align: center;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
  }
  .mobile-nav-wrap{
    margin: auto;
  }

  .mobile-nav-list{
    
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    
    
  }
  

  ul > li {
    display: inline-block;
    
  }

  li {
    
  }
}